body {
  font: 12px sans-serif;
  font-family: Geneva;
  width: 960px;
  background: #F2F5F4;
}

.title { float: center; text-align: center; font-family: Geneva; }
.title, .quiz-div p { margin: 15px; }
.title a { color: #75756F; }

.story p {
  font-size:14px;
  font-family: Geneva;
}

.title-link { color: Black; }

#quiz-name {
  float: center; 
  text-align: center; 
  font-family: Geneva; 
  font-size: 20px;
}

img {  margin: 5px; }

td { 
  text-align: center;
  padding: 5px;
}

.top-border, .corners, .top-left {
  border-top: 2px Solid Black;
  border-bottom: 2px Solid Black;
}

.odd, .side-border-odd {
  background-color: #E5E9E7;
  border-left: 1px Solid #DEDDDD;
  border-right: 1px Solid #DEDDDD;
}

.even, .side-border-even {
  border-left: 1px Solid #DEDDDD;
  border-right: 1px Solid #DEDDDD;
}